<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/learnPageStyles.css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    
    <body style="overflow: hidden"> 
        <div id="mainHeader" class="mainHeader">
            <div id="title"> discoverify. </div>
        </div>
        
        
        
        
    </body>

</html>

{{ profile.name }}
{{ profile.bio }}
{{ profile.email }}
{% for x in all_courses %}
{{x.name}}
{{x.short_decription}}
{{x.id}} for creating the hyperlink
{% endfor %}